.generation-tree {

    .generation-accordion {
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(2px);

        .pokemon-list {
            max-height: 300px;
            overflow-y: auto;
            padding: 0px 8px; // Para evitar que el contenido quede oculto detrás del scrollbar

            :hover {
                background: #0074DD;
                color: #fff;
                padding: 0px 4px;
                border-radius: 10px;
            }

            // Estilos para scroll bonito en navegadores Webkit (Chrome, Edge, Safari)
            &::-webkit-scrollbar {
                width: 8px;
                background: #004A94;
                border-radius: 8px;
            }
            &::-webkit-scrollbar-thumb {
                background: #fff;
                border-radius: 8px;
            }
            &::-webkit-scrollbar-track {
                background: #004A94;
                border-radius: 8px;
            }
        }
    }
}